<%= form_for @subscriber , :url => subscribe_path ,:html => { :class => 'form-horizontal'}  do |s| %>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

      <ul>
      <% @subscriber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span4">
      <div class="control-group">
          <div class="controls">
               <%= s.text_field :firstname , :class => 'input-xlarge', :id => 'formfield' ,:placeholder => 'Firstname *'%>
          </div>    
          <div class="controls">
               <%= s.text_field :lastname , :class => 'input-xlarge', :id => 'formfield' ,:placeholder => 'Surname *'%>
          </div>
      </div>
    
    
      <div class="control-group">
          <div class="controls">
           <%= s.text_field :email , :class => 'input-xlarge', :id => 'formfield' ,:placeholder => 'email address *'%>
           <%= s.hidden_field :source, :value => 'clearancestore'  %>
          </div>
      </div>
      <div class="control-group">
          <div class="controls">
           <%= s.text_field :mobile , :class => 'input-xlarge', :id => 'formfield' ,:placeholder => 'Mobile number (optional)'%>
         
          </div>
      </div>
      </div>
  
      <div class="span4" >
        <div class="control-group">
          <div class="controls" >
               <%= select_tag "clearance_page[marketing_media]" , options_for_select([["How Did You Hear About Us?",''],["Flier","Flier"],["Newspaper","Newspaper"],["Zando Newsletter","Zando Newsletter"],["Banners in Access Park","Banners in Access Park"],["I Just Passed By The Store","I Just Passed By The Store"],["Word of Mouth","Word of Mouth"],["other","other"]]), :id => "dropdwn", :include_blank => false  %>
          </div>  
        </div>
      <div class="control-group radio">

        <div class="controls" style="margin-bottom:10px;">
          <label class="checkbox">
            <input class="rtext" type="checkbox" id="optionsCheckbox" name="clearance_page[gender]" value="2" >
            Women's Newsletter

          </label>
        </div>

        <div class="controls" style="margin-top:10px;">
          <label class="checkbox">
            <input type="checkbox" class="rtext" id="optionsCheckbox" name="clearance_page[gender]" value="1">
            Men's Newsletter
          </label>
        </div>
      </div>
     
      
      
    <div class="actions">
    <%= s.submit :value => 'Sign Up', :id => 'submit' %>
  </div>

 </div>
      </div><!-- END FLUID ROW -->

  
<% end %>
